* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.activity-container {
    margin: 20px;
    padding: 15px;
    width: 40vw;
    height: 445px;
    background-color: #FBFCFC;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0, 0, 0, 0.25);
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.activity-header-title {
    font-size: 1.3rem;
}

.activity-header-selector {
    border: 0px;
    background-color: #ECF0F1;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 7.5px;
}

.entryCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.entryCard-container h2, p {
    font-size: 1rem;
    font-weight: 700;
}

.entryCard-id {
    display: table;
    width: 10%;
    text-align: left;
}

.entryCard-date {
    font-size: 0.8rem;
    display: table;
    width: 20%;
    text-align: center;
    font-weight: 100;
}

.entryCard-title {
    display: table;
    width: 41.25%;
    text-align: left;
}

.entryCard-category {
    display: flex;
    width: 16.25%;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: #D5F5E3;
    border-radius: 10px;
}

.entryCard-category-text {
    font-size: 0.8rem;
    color: #2ECC71;
}

.entryCard-value {
    font-size: 1rem;
    display: table;
    width: 12.5%;
    text-align: right;
}

.newEntry-form-container {
    margin: 20px;
    padding: 15px;
    width: 345px;
    height: 100%;
    background-color: #FBFCFC;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0, 0, 0, 0.25);
}

.newEntry-form-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.newEntry-form-content input, button {
    margin-bottom: 20px;
    margin-top: 5px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 7.5px;
    border: none;
    box-shadow: 1px 1px 12px -6px rgba(0, 0, 0, 0.25);
}

.newEntry-form-content button {
    background-color: #ECF0F1;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.3s;
}

.newEntry-form-content button:hover {
    background-color: #D0D3D4;
    font-size: 0.84rem;
    transform: scale(1.02);
}
