* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-header-container {
    margin: 20px 20px 0px 20px;
}

.content-header-info-date {
    margin-top: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.35);
}

.content-header-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.general-view-container {
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 6px rgba(0, 0, 0, 0.25);
}

.first-level-container {
    display: flex;
}

.second-level-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.third-level-container {
    display: flex;
    justify-content: space-between;
}

.activity-container {
    margin: 20px;
    padding: 15px;
    width: 40vw;
    height: 445px;
    background-color: #FBFCFC;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0, 0, 0, 0.25);
}

.activity-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.activity-header-title {
    font-size: 1.3rem;
}

.activity-header-selector {
    border: 0px;
    background-color: #ECF0F1;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 7.5px;
}

.entryCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.entryCard-container h2, p {
    font-size: 1rem;
    font-weight: 700;
}

.entryCard-id {
    display: table;
    width: 10%;
    text-align: left;
}

.entryCard-date {
    font-size: 0.8rem;
    display: table;
    width: 20%;
    text-align: center;
    font-weight: 100;
}

.entryCard-title {
    display: table;
    width: 41.25%;
    text-align: left;
}

.entryCard-category {
    display: flex;
    width: 16.25%;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: #D5F5E3;
    border-radius: 10px;
}

.entryCard-category-text {
    font-size: 0.8rem;
    color: #2ECC71;
}

.entryCard-value {
    font-size: 1rem;
    display: table;
    width: 12.5%;
    text-align: right;
}

.total-registries-histogram-container {
    margin-right: 10px;
    padding: 15px;
    width: 50%;
    height: 335px;
    background-color: #FBFCFC;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0, 0, 0, 0.25);
}

.total-registries-histogram-header-title-and-open-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 112px;
}

.total-registries-histogram-header-open-view, 
.total-registries-histogram-header-more-view {
    width: 30px;
    transition: 0.4s;
}

.total-registries-histogram-header-open-view:hover, 
.total-registries-histogram-header-more-view:hover {
    transform: scale(1.1);
}

.total-registries-histogram-body {
    display: flex;
    justify-content: space-between;
}

.total-registries-histogram-bar {
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 250px;
    background-color: #ECF0F1;
    border-radius: 10px;
}

.total-registries-histogram-bar-first {
    height: var(--first-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-second {
    height: var(--second-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-third {
    height: var(--third-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-fourth {
    height: var(--fourth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-fifth {
    height: var(--fifth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-sixth {
    height: var(--sixth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-seventh {
    height: var(--seventh-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-eigth {
    height: var(--eigth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-ninth {
    height: var(--ninth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.total-registries-histogram-bar-tenth {
    height: var(--tenth-fill);
    background-color: #2ECC71;
    margin-top: auto;
    border-radius: 10px;
}

.registry-history-line-graph-container {
    margin-left: 10px;
    padding: 15px;
    width: 50%;
    height: 335px;
    background-color: #FBFCFC;
    border-radius: 10px;
    box-shadow: 1px 1px 12px -4px rgba(0, 0, 0, 0.25);
}

.canvas-wrapper {
    height: 290px;
}

.newEntry-form-container {
    margin: 20px;
    padding: 15px;
    width: 20vw;
    height: 505px;
    background-color: #32776B;
    border-radius: 10px;
    box-shadow: 1px 1px 12px 2px rgba(0, 0, 0, 0.25);
}

.newEntry-form-content {
    color: #FFF;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.newEntry-form-content input, button {
    color: #FFF;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 7.5px;
    border: none;
    box-shadow: 1px 1px 12px -6px rgba(0, 0, 0, 0.25);
}

.newEntry-form-content input {
    background-color: #ecf0f147;
}

.newEntry-form-content button {
    background-color: #ecf0f184;
    height: 40px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.3s;
}

.newEntry-form-content button:hover {
    background-color: #d0d3d4ec;
    font-size: 0.84rem;
    transform: scale(1.02);
}
